
<div class="container">
  <p>Bienvenu dans la premiere salle</p>
  <img class="image" src="../../assets/img.jpg"/>
</div>

<br>
<div class="container">
<div class="jumbotron">
  <div class="row">
    <div class="column">
      <canvas id="myCanvas" class="solide"></canvas>
    </div>

    <div class="column">
      <p>{{endText}}</p>

      <div *ngFor="let c of actions">
        <button type="button" class="btn btn-danger" (click)="Combattre()">{{c}}</button> 
      </div>
      <!--<button type="button" class="btn btn-info" (click)="Avancer()">Avancer </button> 
      <button type="button" class="btn btn-danger" (click)="Combattre()">Combattre</button> 
      <button type="button" class="btn btn-warning" (click)="Fuir()">Fuir</button> 
      <button type="button" class="btn btn-success" (click)="Ramasser()">Ramasser</button> -->
    </div>
    <div class="column">
        <h6>
          Salut {{character.Nom}} !    
        </h6>
        <ul style="list-style-type:disc;">
          <li>PV = {{character.Pv}}</li>
          <li>F = {{character.Force}} </li>
          <li>Fuite = {{character.Fuite}}</li>
          <li>Dexterite = {{character.Dexterite}}</li>
          <li>Xp = {{character.Xp}}</li>
        </ul> 
        <h5>
          {{text}}
        </h5>
    </div>
  </div>
  
</div>
</div>
