
<h2> Information sur le personnage:</h2>
<br>
<table class="table table-bordered table-striped">  
    <thead>  
        <tr class="text-center text-uppercase">  
            <th>Id</th>  
            <th>Id Personnage</th>
            <th>Difficulte</th>  
          </tr>  
    </thead>  
    <tbody>  
        <tr>  <!-- *ngFor="let g of game"-->
            <td>{{ game.Id }}</td>  
            <td>{{ game.IdPersonnage }}</td> 
            <td>{{ game.Difficulte }}</td>  
        </tr>  
      </tbody>  
    </table>  


